<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          Konstantinos Chondralis
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == '/' or page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>
      <a class="sidebar-nav-item{% if page.url == '/about/' %} active{% endif %}" href="{{ site.baseurl }}about">About</a>
      <a class="sidebar-nav-item{% if page.url == '/projects/' %} active{% endif %}" href="{{ site.baseurl }}projects">Projects</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}assets/cv/Konstantinos_Chondralis_CV.pdf">Download CV</a>
      <a class="sidebar-nav-item" href="https://github.com/kostantinoss">GitHub</a>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
